<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /agaprova-dss/
    
    # No reescribir archivos y directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Reescribir a index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
